
@font-face {
    font-family: DS-DIGIT;
    src: url("../fonts/DS-DIGIT.eot") /* EOT file for IE */
   }
@font-face {
    font-family: DS-DIGIT;
    src: url("../fonts/DS-DIGIT.TTF") /* TTF file for CSS3 browsers */
   }
@font-face {
    font-family: Quicksand_Light;
    src: url("../fonts/Quicksand_Light.eot") /* EOT file for IE */
   }
@font-face {
    font-family: Quicksand_Light;
    src: url("../fonts/Quicksand_Light.ttf") /* TTF file for CSS3 browsers */
   }
@font-face {
    font-family: Quicksand_Book;
    src: url("../fonts/Quicksand_Book.eot") /* EOT file for IE */
   }
@font-face {
    font-family: Quicksand_Book;
    src: url("../fonts/Quicksand_Book.ttf") /* TTF file for CSS3 browsers */
   }
@font-face {
    font-family: Flowerspower-Regular;
    src: url("../fonts/Flowerspower-Regular.eot") /* EOT file for IE */
   }
@font-face {
    font-family: Flowerspower-Regular;
    src: url("../fonts/Flowerspower-Regular.ttf") /* TTF file for CSS3 browsers */
   }
body {
    background-color: #eee;
}
* {
    font-family: Quicksand_Book;
}

*[role="form"] {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
    background: transparent;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    border: none;
    margin-left: 5em;
    margin-bottom: 1em;
}

  .clicked {
    color: #0099CC;
  }
#msgDiv {
   display: none;
}
#welcome-message {
    font-family: Flowerspower-Regular;
    font-size: 19vw;
}
#earnings, #spendings {
    font-size: 25vw;
    font-family: DS-DIGIT;
}
.timeFrame {
    color: white;
    font-family: DS-DIGIT;
    background-color: palevioletred;
    text-align: center;
}
.chosenTimeFrame {
    font-family: DS-DIGIT;
    color: black;
    text-align: center;
    background-color: white;
}
#home-summary-row {
    color: palevioletred;
    text-align: center;
    font-size: 3vw;
}

#addEarning, #addSpending {
    color: palevioletred;
    font-size: 3vw;
}
.top-buffer { margin-top:45px; }

