body {
    background-color: #eee;
}
@font-face {
    font-family: Quicksand_Light;
    src: url('../views/Quicksand_Light.otf') format("opentype");
}

*[role="form"] {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

#msgDiv {
   display: none;
}
#home-summary {
    background-color: rgb(210, 209, 231);
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
}
#home-summary-row {
    padding: 10px;
}
.top-buffer { margin-top:45px; }

